<div class="bg-img" style="overflow-x:hidden ;">
    <ul class="nav justify-content-center bg-light ">
        <li class="nav-item">
            <a class="nav-link active " href="#">Gold</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Jewelry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Silver</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Others</a>
        </li>

    </ul>

    <div class="container mt-3">
        <div class="col-md-12  ">
            <div class="card card-img  custom-shadow m-auto rounded  bg-light border-primary  col-md-6 col-12">
                <div class="card-header text-light bg-primary">
                    My Balance
                </div>
                <div class="card-body ">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-subtitle mb-2 text-muted"><i class="fas fa-rupee-sign"></i>&nbsp;0</h5>  
                      <h5 class="card-subtitle mb-2  border pl-2 pr-2  rounded-circle  bg-primary  text-light">5</h5>  
                    </div>
                    <h5 class="card-subtitle mt-4 text-muted">Period</h5>
                    <div class="d-flex justify-content-between mt-3">
                        <p>20202020</p>
                        <p>0 2 : 11</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="mt-4">
            <h5 class="text-left col-md-6 col-12 m-auto p-3 bg-light">Record</h5>
            <table class="table col-md-6 col-12 m-auto bg-light ">
                <thead>
                    <tr class="text-center border border-warning">
                        <th scope="col">Period</th>
                        <th scope="col">Number</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>20202020</td>
                        <td>5</td>
                        <td>odd Lucky</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>