<div style="overflow-x:hidden">
<nav class="navbar navbar-dark custom-background-color">
    <a class="navbar-brand mx-auto d-block" href="#">
        My Address
    </a>
</nav>
<div class="row " style="height: 500px;">
    <div class="col-md-6 m-auto text-center ">
        <i class="fas fa-home custom-text" style="font-size: 100px;"></i>
        <p class="custom-text">You Dont Have Shipping Address Yet</p>
        <a [routerLink]="['/newAddress']" routerLinkActive="router-link-active"  class="btn  text-light w-25 rounded-pill custom-background-color  mx-auto d-block" >New Address</a>
    </div>
</div>
</div>

