<div class="bg-img">
    <div class="container ">
        <div class="row p-5 ">
            <div class="col-md-6 col-12 m-auto border border-dark bg-light p-5  custom-shadow">
                <h3
                    class="text-center text-dark  border p-3 border border-top-0 border-left-0 border-dark border-right-0 rounded-0 custom-font ">
                    Login</h3>
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="" class="custom-font">Email</label>
                        <input type="email" name="" id=""
                            class="form-control border border-top-0 border-left-0 border-dark border-right-0 rounded-0"
                            formControlName="email">
                        <small class="text-danger"
                            *ngIf="h.email.touched && h.email.errors && h.email.errors.required">Email is
                            required</small>
                        <small class="text-danger" *ngIf="h.email.errors && h.email.errors.email">Must be a valid
                            email</small>
                    </div>
                    <div class="form-group">
                        <label for="" class="custom-font">Password</label>
                        <input type="password" name="" id=""
                            class="form-control border border-top-0 border-dark border-left-0 border-right-0 rounded-0"
                            formControlName="password">
                        <small class="text-danger" *ngIf="h.password.errors && h.password.errors.minlength">Minimum 8
                            digit
                        </small>
                        <small class="text-danger"
                            *ngIf="h.password.touched && h.password.errors && h.password.errors.required">Password is
                            required</small>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mx-auto d-block w-50"
                        (click)="onSubmit()">Submit</button>
                        <div class="row ">
                            <div class="col-md-12 text-center mt-3">
                                <a href="" class="">Forgot Password ?</a>
                            </div>
                            <div class="col-md-12 text-center mt-1">
                                <a [routerLink]="['/registration']" routerLinkActive="router-link-active"  class="">Signup</a>
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>