<!-- Image and text -->
<nav class="navbar navbar-dark custom-background-color">
    <a class="navbar-brand mx-auto d-block" href="#">
        My Bank Card
    </a>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 m-auto shadow p-3 col-12 ">
           <form action="" class="mt-2">
               <div class="form-group ">
                   <label for="">Bank Name</label>
                   <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Bank name">
               </div>
               <div class="form-group ">
                <label for="">Actual Name</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Actual name">
            </div>
            <div class="form-group ">
                <label for="">IFSC Code</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter IFSC Code">
            </div>
            <div class="form-group ">
                <label for="">Account Number</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Account Number">
            </div>
            <div class="form-group ">
                <label for="">Confirm Number</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Confirm Number">
            </div>
            <div class="form-group ">
                <label for="">Mobile Number</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Mobile Number">
            </div>
            <div class="form-group ">
                <label for="">Email</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Email">
            </div>
            <div class="form-group ">
                <label for="">verification Code</label>
                <input type="text" name="" id="" class="form-control border-danger border-top-0 border-bottom-0 rounded-0" placeholder="Please Enter Email">
            </div>
            <button class="btn btn-danger rounded-0 btn-block w-75 mx-auto d-block"> Add</button>
           </form>
           
        </div>
    </div>
</div>