<!-- Image and text -->
<nav class="navbar navbar-dark custom-background-color">
    <a class="navbar-brand mx-auto d-block" href="#">
        My Bank Card
    </a>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 m-auto  col-12 ">
            <div class="card  shadow mt-5 rounded border border-danger border-bottom-0 border-top-0 rounded-0  ">
                <div class="card-body ">
                    <i class="fas fa-plus pr-3 "></i>
                    New Bank Card
                </div>
            </div>
           
        </div>
    </div>
</div>