<nav class="navbar navbar-dark custom-background-color">
    <a class="navbar-brand mx-auto d-block" href="#">
        My Order
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 d-md-block d-none"></div>
        <div class="col-md-6 col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item border border-primary border-top-0 border-bottom-0 rounded-0 p-2 nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Processing</a>
                  <a class="nav-item border border-primary border-top-0 border-bottom-0 rounded-0 p-2 nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Shipped</a>
                  <a class="nav-item border border-primary border-top-0 border-bottom-0 rounded-0 p-2 nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Complete</a>
                  <a class="nav-item border border-primary border-top-0 border-bottom-0 rounded-0 p-2 nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Return</a>
                  <a class="nav-item border border-primary border-top-0 border-bottom-0 rounded-0 p-2 nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Canceled</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
              </div>
        </div>
    </div>
  
</div>