<form [formGroup]="registrationForm">
    <div class="row mt-5 shadow w-75 mx-auto d-block p-2 border">
        <div class="col-md-7 m-auto">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" #email>
            <small *ngIf=" h.email.touched && h.email.errors && h.email.errors.required">Email is required</small>
            <small *ngIf="h.email.errors && h.email.errors.email">Must be a valid email</small>
        </div>
        <div class="col-md-7 m-auto">
            <label>OTP</label>
            <input type="number" class="form-control" #t (keyup)="verifyOTP(t)">
            <button class="btn btn-info mt-3" (click)="onVerify(email)">Verify</button>
            <small *ngIf="optError">OTP is not valid</small>
        </div>
        <div class="col-md-7 m-auto">
            <label>Password</label>
            <input type="email" class="form-control" formControlName="password">
            <small *ngIf="h.password.errors && h.password.errors.minlength">Minimum 8 digit </small>
            <small *ngIf="h.password.touched && h.password.errors && h.password.errors.required">Password is
                required</small>
        </div>
        <div class="col-md-7 m-auto">
            <label>Confrim Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">

        </div>
        <div class="col-md-12 ">
            <button class="btn btn-primary mx-auto d-block  mt-3" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</form>