<nav class="navbar navbar-dark custom-background-color">
    <a class="navbar-brand mx-auto d-block font-weight-bold" href="#">
        Available Balance <i class="fas fa-rupee-sign"></i>&nbsp;2.10
    </a>
</nav>

<nav class="navbar navbar-dark custom-background-color">
    <button class="btn rounded-0  shadow-lg text-light">Recharge</button>
    <button class="btn rounded-0  shadow-lg text-light"><i class="fas fa-sync-alt"></i></button>
    <button class="btn rounded-0  shadow-lg text-light">Read Rule</button>
</nav>

<div class="table-responsive mt-4">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Parity</th>
              <th scope="col">Sapre</th>
              <th scope="col">Bcone</th>
              <th scope="col">Emerd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
           
          </tbody>
    </table>
  </div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 col-6 m-auto text-center">
            <h6><i class="fas fa-trophy" style="font-size:20px;"></i>&nbsp;Period</h6>
            <h5>2020201224427</h5>
        </div>
        <div class="col-md-6 col-6 m-auto text-center">
            <h6>Count Down</h6>
            <h5>01 : 40 </h5>
        </div>
    </div>
</div>
<div class="d-flex justify-content-around mt-3">
    <button class="btn rounded-pill btn-success">Join Green</button>
    <button class="btn rounded-pill btn-info">Join Violet</button>
    <button class="btn rounded-pill btn-danger">Join Red</button>
</div>
<br>
<div class="d-flex justify-content-center mt-3">
    <button class="btn custom-background-color text-light rounded-0 ml-3 mr-3">0</button>
    <button class="btn custom-background-color text-light rounded-0 ml-3 mr-3">1</button>
    <button class="btn custom-background-color text-light rounded-0 ml-3 mr-3">2</button>
    <button class="btn custom-background-color text-light rounded-0 ml-3 mr-3">3</button>
    <button class="btn custom-background-color text-light rounded-0 ml-3 mr-3">4</button>
</div>

<div class="d-flex justify-content-center mt-3">
    <button class="btn custom-background-color text-light  rounded-0 ml-3 mr-3">5</button>
    <button class="btn custom-background-color text-light  rounded-0 ml-3 mr-3">6</button>
    <button class="btn custom-background-color text-light  rounded-0 ml-3 mr-3">7</button>
    <button class="btn custom-background-color text-light  rounded-0 ml-3 mr-3">8</button>
    <button class="btn custom-background-color text-light  rounded-0 ml-3 mr-3">9</button>
</div>

<div class="container mt-4 ">
    <div class="row ">
        <div class="col-md-6 m-auto text-center">
            <h6><i class="fas fa-trophy "></i></h6>
            <h5 class="font-weight-bold ">Emberd Record</h5>
            <div class="table-responsive">
                <table class="table  ml-md-5 ml-lg-5">
                    <thead>
                        <tr>
                            <th scope="col">Period</th>
                            <th scope="col">Price</th>
                            <th scope="col">Number</th>
                            <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">20202002020</th>
                            <td>62172</td>
                            <td>7</td>
                            <td><i class="fas fa-dot-circle text-success"></i></td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
          
        </div>
    </div>
</div>